/* 240119 구본용 */
/* 지역선택 시군구 공통 */
.comparative .comparativeMap {
    position: relative;
    margin-top: 40px;
    padding-top: 0;
}
.comparative .comparativeMap .map-area {
    display: none;
}
.comparative .comparativeMap .map-area.on {
    display: block;
}
.comparative .comparativeMap .map-area svg polygon {
    cursor: pointer;
}
.comparative .comparativeMap .map-area .map-city .btn_map_back {
    text-indent: -9999px;
}
.comparative .comparativeMap .map-area .map-city p .title {
    display: block;
    font-size: 30px;
    margin-top: 10px;
}
.comparative .comparativeMap .map-area .map-city .sigungu li a:hover,
.comparative .comparativeMap .map-area .map-city .sigungu li a:focus {
    color: #ff0000;
}

/* 서울 지도 */
.comparative .comparativeMap .map-area[data-inmap='서울'] {
    background: url(/images/ref_map/map_seoul.png) no-repeat center center, #f8f8f8;
}
.comparative .comparativeMap .map-area .map-city .sigungu .jongno {
    left: 587px;
    top: 270px;
}

/* CP-20240110 : PDF 뷰어 영역 */
.map-pdf {
    margin-top: 60px;
}
.map-pdf h3 {
    display: flex;
    gap: 10px;
    font-size: 30px;
}
.map-pdf h3::before {
    content: '';
    display: block;
    width: 30px;
    height: 30px;
    background: url() no-repeat center center/cover;
}
.map-pdf .pdf-cities {
    padding: 20px;
}
.map-pdf .pdf-cities ul {
    display: flex;
    gap: 20px;
}
.map-pdf .pdf-viewer .iframe-pdf-viewer {
    width: 100%;
    height: 800px;
    border: 1px solid #eee;
    box-sizing: border-box;
}
.map-city {
    display: block !important;
}
