/* 2024-01-17 LYS css*/
.comparative {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    position: relative;
}

/* Tab */
.comparativeTab {
    width: 100%;
    overflow: hidden;
    border: 1px solid #e0e0e0;
}
.comparativeTab div {
    width: 50%;
    float: left;
    border-left: 1px solid #e0e0e0;
    text-align: center;
}
.comparativeTab a:first-child div {
    border-left: 0;
}
.comparativeTab div p {
    font-size: 18px;
    color: #323331;
    font-weight: 400;
    letter-spacing: -0.05px;
    line-height: 55px;
    display: inline-block;
    zoom: 1;
    vertical-align: middle;
    word-break: keep-all;
}
.comparativeTab div p span {
    font-size: 18px;
    font-weight: 400;
}
.comparativeTab div p span:nth-child(n + 2) {
    margin-left: 5px;
}
.comparativeTab div.on {
    background-color: #059FA9;
}
.comparativeTab div.on p {
    color: #fff;
}
.comparativeTab div.on p span {
    color: #fff;
}


.comparativeMap {
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px dashed #fafafa;
}
.comparativeMap .map-area {
    position: relative;
    height: 600px;
    background: #f8f8f8;
    padding: 30px;
    box-sizing: border-box;
}
.comparativeMap .map-area p {
    font-size: 20px;
}
.comparativeMap .map-area p span{
    display: block;
    font-size: 30px;
    margin-top: 10px;
}
.comparativeMobile{
    display: none;
}
ul.overarea li{
    display: none;
    cursor: pointer;
    position:absolute;    
    background-image: url("/images/ref_map/map_country_over.png");
    background-repeat: no-repeat;
    z-index: 100;
}
ul.overarea li.on{
    display: block !important;
}
ul.overarea li span{
    display: none;
}
ul.overarea li#over_seoul{
    width: 54px;
    height: 55px;
    top: 103px;
    left: 78px;
    background-position: -270px 0px;
}
ul.overarea li#over_busan{
    width: 82px;
    height: 67px;
    top: 330px;
    left: 200px;
    background-position: -589px -151px;
}
ul.overarea li#over_daegu{
    width: 47px;
    height: 88px;
    top: 243px;
    left: 193px;
    background-position: -70px -189px;
}
ul.overarea li#over_incheon{
    width: 59px;
    height: 69px;
    top: 87px;
    left: 32px;
    background-position: -272px -71px;
}
ul.overarea li#over_kwangju{    
    width: 51px;
    height: 52px;
    top: 346px;
    left: 66px;
    background-position: -468px -196px;
}
ul.overarea li#over_daejeon{
    width: 46px;
    height: 71px;
    top: 213px;
    left: 91px;
    background-position: -5px -191px;
}
ul.overarea li#over_ulsan{
    width: 48px;
    height: 68px;
    top: 299px;
    left: 244px;
    background-position: -531px -225px;
}
ul.overarea li#over_sejong{
    width: 38px;
    height: 67px;
    top: 158px;
    left: 102px;
    background-position: -130px -189px;
}
ul.overarea li#over_gyunggi{
    width: 97px;
    height: 155px;
    top: 48px;
    left: 70px;
    background-position: -167px 0px;
}
ul.overarea li#over_kangwon{
    width: 167px;
    height: 187px;
    top: 1px;
    left: 106px;
    background-position: 0px 0px;
}
ul.overarea li#over_chungbuk{
    width: 104px;
    height: 136px;
    top: 144px;
    left: 120px;
    background-position: -334px 0px;
}
ul.overarea li#over_chungnam{
    width: 120px;
    height: 125px;
    top: 171px;
    left: 30px;
    background-position: -440px 0px;
}
ul.overarea li#over_jeonbuk{
    width: 119px;
    height: 106px;
    top: 248px;
    left: 53px;
    background-position: -174px -159px;
}
ul.overarea li#over_jeonnam{
    width: 159px;
    height: 154px;
    top: 325px;
    left: 12px;
    background-position: -302px -148px;
}
ul.overarea li#over_gyeongbuk{
    width: 151px;
    height: 226px;
    top: 110px;
    left: 169px;
    background-position: -682px 0px;
}
ul.overarea li#over_gyeongnam{
    width: 112px;
    height: 142px;
    top: 274px;
    left: 144px;
    background-position: -561px 0px;
}
ul.overarea li#over_jeju{
    width: 74px;
    height: 66px;
    top: 461px;
    left: 32px;
    background-position: -461px -126px;
}
#map-country{
    position: absolute;
    background: url("/images/ref_map/map_country.png") no-repeat center center;
    width: 351px;
    height: 535px;
    left: 50%;
    top: 40px;
    transform: translateX(-50%);
}
#map-country-svg{
    position: relative;
    z-index: 200;
    width: 351px;
    height: 535px;
}
#map-country-svg polygon{
    cursor: pointer;
    fill : transparent;
    stroke : red;
    stroke-width: 0;
    outline :none;
}
.comparativeMap .map-area{
    display: none;
    position: relative;
}
.comparativeMap .map-area.on{
    display: block;
}
.comparativeMap .map-area .btn_map_back {
    position: absolute;
    width: 54px;
    height: 54px;
    top:30px;
    right: 24px;
    background: url("/images/ref_map/btn_map_back.png") no-repeat center center;
    cursor: pointer;
    text-indent: -99999px;
}
.comparativeMap .map-area h4 {
    position: absolute;
    text-align: right;
    right: 24px;
    top: 88px;
    color: #353535;
    font-size: 18px;
    font-weight: 500;
}
.map-area ul.sigungu{
    position: relative;
    width:500px;
    height:402px;
    margin: 0 auto;
}

.map-area[data-inmap="seoul"] ul.sigungu{
    background: url("/images/ref_map/map_seoul.png") no-repeat center center;
}
.map-area[data-inmap="busan"] ul.sigungu{
    background: url("/images/ref_map/map_busan.png") no-repeat center center;
}
.map-area[data-inmap="daegu"] ul.sigungu{
    background: url("/images/ref_map/map_daegu.png") no-repeat center center;
}
.map-area[data-inmap="incheon"] ul.sigungu{
    background: url("/images/ref_map/map_incheon.png") no-repeat center center;
}
.map-area[data-inmap="kwangju"] ul.sigungu{
    background: url("/images/ref_map/map_kwangju.png") no-repeat center center;
}
.map-area[data-inmap="daejeon"] ul.sigungu{
    background: url("/images/ref_map/map_daegu.png") no-repeat center center;
}
.map-area[data-inmap="ulsan"] ul.sigungu{
    background: url("/images/ref_map/map_ulsan.png") no-repeat center center;
}
.map-area[data-inmap="sejong"] ul.sigungu{
    background: url("/images/ref_map/map_sejong.png") no-repeat center center;
}
.map-area[data-inmap="gyunggi"] ul.sigungu{
    background: url("/images/ref_map/map_gyunggi.png") no-repeat center center;
}
.map-area[data-inmap="kangwon"] ul.sigungu{
    background: url("/images/ref_map/map_kangwon.png") no-repeat center center;
}
.map-area[data-inmap="chungbuk"] ul.sigungu{
    background: url("/images/ref_map/map_chungbuk.png") no-repeat center center;
}
.map-area[data-inmap="chungnam"] ul.sigungu{
    background: url("/images/ref_map/map_chungnam.png") no-repeat center center;
}
.map-area[data-inmap="jeonbuk"] ul.sigungu{
    background: url("/images/ref_map/map_jeonbuk.png") no-repeat center center;
}
.map-area[data-inmap="jeonnam"] ul.sigungu{
    background: url("/images/ref_map/map_jeonnam.png") no-repeat center center;
}
.map-area[data-inmap="gyungbuk"] ul.sigungu{
    background: url("/images/ref_map/map_gyeongbuk.png") no-repeat center center;
}
.map-area[data-inmap="gyungnam"] ul.sigungu{
    background: url("/images/ref_map/map_gyeongnam.png") no-repeat center center;
}
.map-area[data-inmap="jeju"] ul.sigungu{
    background: url("/images/ref_map/map_jeju.png") no-repeat center center;
}

.map-area .map-city p .title {
    display: block;
    font-size: 30px;
    margin-top: 10px;
}
.sigungu li {
    position: absolute;
    display: inline-block;    
    color: #474f73;
    line-height: 13px;
    height: 13px;
    font-size: 13px;
}
.sigungu li:hover,.sigungu li:focus{
    color : #ff0000;
}

/* 서울 */
.comparative .comparativeMap .sigungu-area[data-inmap='seoul'] li.jongno {
    left: 233px;
    top: 166px;
}
.comparative .comparativeMap .sigungu-area[data-inmap='seoul'] li.junggu {
    left: 253px;
    top: 212px;
}
.comparative .comparativeMap .sigungu-area[data-inmap='seoul'] li.yongsan {
    left: 243px;
    top: 242px;
}
.comparative .comparativeMap .sigungu-area[data-inmap='seoul'] li.seongdong {
    left: 308px;
    top: 222px;
}
.comparative .comparativeMap .sigungu-area[data-inmap='seoul'] li.kwangjin {
    left: 365px;
    top: 228px;
}
.comparative .comparativeMap .sigungu-area[data-inmap='seoul'] li.dongdaemun {
    left: 318px;
    top: 180px;
}
.comparative .comparativeMap .sigungu-area[data-inmap='seoul'] li.jungnang {
    left: 368px;
    top: 160px;
}
.comparative .comparativeMap .sigungu-area[data-inmap='seoul'] li.seongbuk {
    left: 282px;
    top: 154px;
}
.comparative .comparativeMap .sigungu-area[data-inmap='seoul'] li.gangbuk {
    left: 284px;
    top: 106px;
}
.comparative .comparativeMap .sigungu-area[data-inmap='seoul'] li.dobong {
    left: 304px;
    top: 58px;
}
.comparative .comparativeMap .sigungu-area[data-inmap='seoul'] li.nowon {
    left: 346px;
    top: 82px;
}
.comparative .comparativeMap .sigungu-area[data-inmap='seoul'] li.eunpyeong {
    left: 184px;
    top: 124px;
}
.comparative .comparativeMap .sigungu-area[data-inmap='seoul'] li.seodaemun {
    left: 188px;
    top: 182px;
}
.comparative .comparativeMap .sigungu-area[data-inmap='seoul'] li.mapo {
    left: 156px;
    top: 212px;
}
.comparative .comparativeMap .sigungu-area[data-inmap='seoul'] li.yangcheon {
    left: 98px;
    top: 270px;
}
.comparative .comparativeMap .sigungu-area[data-inmap='seoul'] li.kangseo {
    left: 60px;
    top: 202px;
}
.comparative .comparativeMap .sigungu-area[data-inmap='seoul'] li.guro {
    left: 84px;
    top: 308px;
}
.comparative .comparativeMap .sigungu-area[data-inmap='seoul'] li.geumcheon {
    left: 152px;
    top: 352px;
}
.comparative .comparativeMap .sigungu-area[data-inmap='seoul'] li.yeongdeungpo {
    left: 156px;
    top: 260px;
}
.comparative .comparativeMap .sigungu-area[data-inmap='seoul'] li.dongjak {
    left: 206px;
    top: 286px;
}
.comparative .comparativeMap .sigungu-area[data-inmap='seoul'] li.gwanak {
    left: 206px;
    top: 346px;
}
.comparative .comparativeMap .sigungu-area[data-inmap='seoul'] li.seocho {
    left: 272px;
    top: 312px;
}
.comparative .comparativeMap .sigungu-area[data-inmap='seoul'] li.kangnam {
    left: 324px;
    top: 300px;
}
.comparative .comparativeMap .sigungu-area[data-inmap='seoul'] li.songpa {
    left: 384px;
    top: 282px;
}
.comparative .comparativeMap .sigungu-area[data-inmap='seoul'] li.kangdong {
    left: 420px;
    top: 230px;
}
/* 부산 */
.comparative .comparativeMap .sigungu-area[data-inmap='busan'] li.jung {
    left: 232px;
    top: 278px;
}
.comparative .comparativeMap .sigungu-area[data-inmap='busan'] li.seo {
    left: 216px;
    top: 258px;
}
.comparative .comparativeMap .sigungu-area[data-inmap='busan'] li.dong {
    left: 244px;
    top: 254px;
}
.comparative .comparativeMap .sigungu-area[data-inmap='busan'] li.yeongdo {
    left: 254px;
    top: 302px;
}
.comparative .comparativeMap .sigungu-area[data-inmap='busan'] li.busanjin {
    left: 232px;
    top: 222px;
}
.comparative .comparativeMap .sigungu-area[data-inmap='busan'] li.donglae {
    left: 260px;
    top: 178px;
}
.comparative .comparativeMap .sigungu-area[data-inmap='busan'] li.nam {
    left: 282px;
    top: 256px;
}
.comparative .comparativeMap .sigungu-area[data-inmap='busan'] li.buk {
    left: 222px;
    top: 156px;
}
.comparative .comparativeMap .sigungu-area[data-inmap='busan'] li.haeundae {
    left: 312px;
    top: 194px;
}
.comparative .comparativeMap .sigungu-area[data-inmap='busan'] li.gijang {
    left: 350px;
    top: 92px;
}
.comparative .comparativeMap .sigungu-area[data-inmap='busan'] li.saha {
    left: 178px;
    top: 284px;
}
.comparative .comparativeMap .sigungu-area[data-inmap='busan'] li.geumjeong {
    left: 264px;
    top: 130px;
}
.comparative .comparativeMap .sigungu-area[data-inmap='busan'] li.kangseo {
    left: 108px;
    top: 268px;
}
.comparative .comparativeMap .sigungu-area[data-inmap='busan'] li.yeonje {
    left: 258px;
    top: 202px;
}
.comparative .comparativeMap .sigungu-area[data-inmap='busan'] li.suyeong {
    left: 288px;
    top: 220px;
}
.comparative .comparativeMap .sigungu-area[data-inmap='busan'] li.sasang {
    left: 188px;
    top: 216px;
}
/* 대구 */
.comparative .comparativeMap .sigungu-area[data-inmap='daegu'] li.jung {
    left: 216px;
    top: 244px;
}
.comparative .comparativeMap .sigungu-area[data-inmap='daegu'] li.dong {
    left: 254px;
    top: 202px;
}
.comparative .comparativeMap .sigungu-area[data-inmap='daegu'] li.seo {
    left: 190px;
    top: 240px;
}
.comparative .comparativeMap .sigungu-area[data-inmap='daegu'] li.nam {
    left: 212px;
    top: 262px;
}
.comparative .comparativeMap .sigungu-area[data-inmap='daegu'] li.buk {
    left: 206px;
    top: 210px;
}
.comparative .comparativeMap .sigungu-area[data-inmap='daegu'] li.suseong {
    left: 240px;
    top: 262px;
}
.comparative .comparativeMap .sigungu-area[data-inmap='daegu'] li.dalseo {
    left: 174px;
    top: 266px;
}
.comparative .comparativeMap .sigungu-area[data-inmap='daegu'] li.dalseong {
    left: 160px;
    top: 312px;
}
.comparative .comparativeMap .sigungu-area[data-inmap='daegu'] li.gunwi {
    left: 260px;
    top: 100px;
}
/* 인천 */
.comparative .comparativeMap .sigungu-area[data-inmap='incheon'] li.jung {
    left: 230px;
    top: 282px;
}
.comparative .comparativeMap .sigungu-area[data-inmap='incheon'] li.dong {
    left: 358px;
    top: 290px;
}
.comparative .comparativeMap .sigungu-area[data-inmap='incheon'] li.nam {
    left: 370px;
    top: 314px;
}
.comparative .comparativeMap .sigungu-area[data-inmap='incheon'] li.yeonsu {
    left: 372px;
    top: 342px;
}
.comparative .comparativeMap .sigungu-area[data-inmap='incheon'] li.namdong {
    left: 422px;
    top: 322px;
}
.comparative .comparativeMap .sigungu-area[data-inmap='incheon'] li.bupyeong {
    left: 408px;
    top: 276px;
}
.comparative .comparativeMap .sigungu-area[data-inmap='incheon'] li.gyeyang {
    left: 424px;
    top: 226px;
}
.comparative .comparativeMap .sigungu-area[data-inmap='incheon'] li.seo {
    left: 358px;
    top: 212px;
}
.comparative .comparativeMap .sigungu-area[data-inmap='incheon'] li.gwanghwa {
    left: 228px;
    top: 100px;
}
.comparative .comparativeMap .sigungu-area[data-inmap='incheon'] li.ongjin {
    left: 44px;
    top: 267px;
}
/* 광주 */
.comparative .comparativeMap .sigungu-area[data-inmap='kwangju'] li.dong {
    left: 366px;
    top: 256px;
}
.comparative .comparativeMap .sigungu-area[data-inmap='kwangju'] li.seo {
    left: 256px;
    top: 226px;
}
.comparative .comparativeMap .sigungu-area[data-inmap='kwangju'] li.nam {
    left: 286px;
    top: 278px;
}
.comparative .comparativeMap .sigungu-area[data-inmap='kwangju'] li.buk {
    left: 318px;
    top: 140px;
}
.comparative .comparativeMap .sigungu-area[data-inmap='kwangju'] li.gwangsan {
    left: 142px;
    top: 178px;
}
/* 대전 */
.comparative .comparativeMap .sigungu-area[data-inmap='daejeon'] li.dong {
    left: 320px;
    top: 218px;
}
.comparative .comparativeMap .sigungu-area[data-inmap='daejeon'] li.jung {
    left: 242px;
    top: 266px;
}
.comparative .comparativeMap .sigungu-area[data-inmap='daejeon'] li.seo {
    left: 162px;
    top: 280px;
}
.comparative .comparativeMap .sigungu-area[data-inmap='daejeon'] li.yuseong {
    left: 138px;
    top: 144px;
}
.comparative .comparativeMap .sigungu-area[data-inmap='daejeon'] li.daedeok {
    left: 282px;
    top: 100px;
}
/* 울산 */
.comparative .comparativeMap .sigungu-area[data-inmap='ulsan'] li.jung {
    left: 304px;
    top: 158px;
}
.comparative .comparativeMap .sigungu-area[data-inmap='ulsan'] li.nam {
    left: 328px;
    top: 204px;
}
.comparative .comparativeMap .sigungu-area[data-inmap='ulsan'] li.dong {
    left: 400px;
    top: 204px;
}
.comparative .comparativeMap .sigungu-area[data-inmap='ulsan'] li.buk {
    left: 364px;
    top: 122px;
}
.comparative .comparativeMap .sigungu-area[data-inmap='ulsan'] li.ulju {
    left: 182px;
    top: 160px;
}
/* 세종 */
.comparative .comparativeMap .sigungu-area[data-inmap='sejong'] li.sejong {
    left: 226px;
    top: 222px;
}
/* 경기도 */ 
.comparative .comparativeMap .sigungu-area[data-inmap='gyunggi'] li.uijeongbu {
    left: 212px;
    top: 162px;
}
.comparative .comparativeMap .sigungu-area[data-inmap='gyunggi'] li.gwangmyeong {
    left: 134px;
    top: 238px;
}
.comparative .comparativeMap .sigungu-area[data-inmap='gyunggi'] li.pyeongtaek {
    left: 184px;
    top: 360px;
}
.comparative .comparativeMap .sigungu-area[data-inmap='gyunggi'] li.yangju {
    left: 194px;
    top: 136px;
}
.comparative .comparativeMap .sigungu-area[data-inmap='gyunggi'] li.dongducheon {
    left: 216px;
    top: 110px;
}
.comparative .comparativeMap .sigungu-area[data-inmap='gyunggi'] li.gwacheon {
    left: 202px;
    top: 232px;
}
.comparative .comparativeMap .sigungu-area[data-inmap='gyunggi'] li.uiwang {
    left: 200px;
    top: 254px;
}
.comparative .comparativeMap .sigungu-area[data-inmap='gyunggi'] li.guri {
    left: 246px;
    top: 192px;
}
.comparative .comparativeMap .sigungu-area[data-inmap='gyunggi'] li.namyangju {
    left: 268px;
    top: 172px;
}
.comparative .comparativeMap .sigungu-area[data-inmap='gyunggi'] li.osan {
    left: 218px;
    top: 312px;
}
.comparative .comparativeMap .sigungu-area[data-inmap='gyunggi'] li.hwasung {
    left: 140px;
    top: 304px;
}
.comparative .comparativeMap .sigungu-area[data-inmap='gyunggi'] li.siheung {
    left: 100px;
    top: 250px;
}
.comparative .comparativeMap .sigungu-area[data-inmap='gyunggi'] li.gunpo {
    left: 162px;
    top: 268px;
}
.comparative .comparativeMap .sigungu-area[data-inmap='gyunggi'] li.hanam {
    left: 260px;
    top: 216px;
}
.comparative .comparativeMap .sigungu-area[data-inmap='gyunggi'] li.paju {
    left: 130px;
    top: 138px;
}
.comparative .comparativeMap .sigungu-area[data-inmap='gyunggi'] li.yeoju {
    left: 384px;
    top: 286px;
}
.comparative .comparativeMap .sigungu-area[data-inmap='gyunggi'] li.yichun {
    left: 326px;
    top: 288px;
}
.comparative .comparativeMap .sigungu-area[data-inmap='gyunggi'] li.ansung {
    left: 284px;
    top: 354px;
}
.comparative .comparativeMap .sigungu-area[data-inmap='gyunggi'] li.gimpo {
    left: 64px;
    top: 172px;
}
.comparative .comparativeMap .sigungu-area[data-inmap='gyunggi'] li.gwangju {
    left: 284px;
    top: 246px;
}
.comparative .comparativeMap .sigungu-area[data-inmap='gyunggi'] li.pocheon {
    left: 272px;
    top: 90px;
}
.comparative .comparativeMap .sigungu-area[data-inmap='gyunggi'] li.yeonchun {
    left: 204px;
    top: 58px;
}
.comparative .comparativeMap .sigungu-area[data-inmap='gyunggi'] li.yangpyeong {
    left: 354px;
    top: 222px;
}
.comparative .comparativeMap .sigungu-area[data-inmap='gyunggi'] li.gapyeong {
    left: 314px;
    top: 138px;
}
.comparative .comparativeMap .sigungu-area[data-inmap='gyunggi'] li.yongin {
    left: 268px;
    top: 300px;
}
.comparative .comparativeMap .sigungu-area[data-inmap='gyunggi'] li.goyang {
    left: 138px;
    top: 180px;
}
.comparative .comparativeMap .sigungu-area[data-inmap='gyunggi'] li.suwon {
    left: 200px;
    top: 282px;
}
.comparative .comparativeMap .sigungu-area[data-inmap='gyunggi'] li.bucheon {
    left: 96px;
    top: 220px;
}
.comparative .comparativeMap .sigungu-area[data-inmap='gyunggi'] li.ansan {
    left: 112px;
    top: 270px;
}
.comparative .comparativeMap .sigungu-area[data-inmap='gyunggi'] li.sungnam {
    left: 234px;
    top: 245px;
}
.comparative .comparativeMap .sigungu-area[data-inmap='gyunggi'] li.anyang {
    left: 163px;
    top: 248px;
}
/* 강원 */
.comparative .comparativeMap .sigungu-area[data-inmap='kangwon'] li.chuncheon {
    left: 140px;
    top: 180px;
}
.comparative .comparativeMap .sigungu-area[data-inmap='kangwon'] li.wonju {
    left: 170px;
    top: 326px;
}
.comparative .comparativeMap .sigungu-area[data-inmap='kangwon'] li.gangneung {
    left: 362px;
    top: 234px;
}
.comparative .comparativeMap .sigungu-area[data-inmap='kangwon'] li.donghae {
    left: 396px;
    top: 280px;
}
.comparative .comparativeMap .sigungu-area[data-inmap='kangwon'] li.samcheok {
    left: 422px;
    top: 334px;
}
.comparative .comparativeMap .sigungu-area[data-inmap='kangwon'] li.taebaek {
    left: 386px;
    top: 372px;
}
.comparative .comparativeMap .sigungu-area[data-inmap='kangwon'] li.jeongseon {
    left: 332px;
    top: 308px;
}
.comparative .comparativeMap .sigungu-area[data-inmap='kangwon'] li.sokcho {
    left: 290px;
    top: 114px;
}
.comparative .comparativeMap .sigungu-area[data-inmap='kangwon'] li.goseoung {
    left: 258px;
    top: 60px;
}
.comparative .comparativeMap .sigungu-area[data-inmap='kangwon'] li.yangyang {
    left: 312px;
    top: 156px;
}
.comparative .comparativeMap .sigungu-area[data-inmap='kangwon'] li.inje {
    left: 240px;
    top: 144px;
}
.comparative .comparativeMap .sigungu-area[data-inmap='kangwon'] li.hongcheon {
    left: 204px;
    top: 216px;
}
.comparative .comparativeMap .sigungu-area[data-inmap='kangwon'] li.hwingseong {
    left: 204px;
    top: 278px;
}
.comparative .comparativeMap .sigungu-area[data-inmap='kangwon'] li.yeongwol {
    left: 284px;
    top: 354px;
}
.comparative .comparativeMap .sigungu-area[data-inmap='kangwon'] li.pyungchang {
    left: 276px;
    top: 266px;
}
.comparative .comparativeMap .sigungu-area[data-inmap='kangwon'] li.hwacheon {
    left: 126px;
    top: 112px;
}
.comparative .comparativeMap .sigungu-area[data-inmap='kangwon'] li.yanggu {
    left: 186px;
    top: 100px;
}
.comparative .comparativeMap .sigungu-area[data-inmap='kangwon'] li.cheolwon {
    left: 56px;
    top: 96px;
}
/* 충청북도 */
.comparative .comparativeMap .sigungu-area[data-inmap='chungbuk'] li.chungju {
    left: 208px;
    top: 72px;
}
.comparative .comparativeMap .sigungu-area[data-inmap='chungbuk'] li.jecheon {
    left: 296px;
    top: 76px;
}
.comparative .comparativeMap .sigungu-area[data-inmap='chungbuk'] li.danyang {
    left: 358px;
    top: 72px;
}
.comparative .comparativeMap .sigungu-area[data-inmap='chungbuk'] li.yeongdong {
    left: 190px;
    top: 350px;
}
.comparative .comparativeMap .sigungu-area[data-inmap='chungbuk'] li.boeun {
    left: 168px;
    top: 238px;
}
.comparative .comparativeMap .sigungu-area[data-inmap='chungbuk'] li.okchun {
    left: 146px;
    top: 298px;
}
.comparative .comparativeMap .sigungu-area[data-inmap='chungbuk'] li.eumsung {
    left: 128px;
    top: 94px;
}
.comparative .comparativeMap .sigungu-area[data-inmap='chungbuk'] li.jincheon {
    left: 74px;
    top: 120px;
}
.comparative .comparativeMap .sigungu-area[data-inmap='chungbuk'] li.gwisan {
    left: 194px;
    top: 150px;
}
.comparative .comparativeMap .sigungu-area[data-inmap='chungbuk'] li.jeungpyeong {
    left: 126px;
    top: 152px;
}
.comparative .comparativeMap .sigungu-area[data-inmap='chungbuk'] li.cheongju {
    left: 94px;
    top: 198px;
}
/* 충청남도 */
.comparative .comparativeMap .sigungu-area[data-inmap='chungnam'] li.gongju {
    left: 300px;
    top: 208px;
}
.comparative .comparativeMap .sigungu-area[data-inmap='chungnam'] li.boryeong {
    left: 160px;
    top: 280px;
}
.comparative .comparativeMap .sigungu-area[data-inmap='chungnam'] li.asan {
    left: 264px;
    top: 98px;
}
.comparative .comparativeMap .sigungu-area[data-inmap='chungnam'] li.seosan {
    left: 116px;
    top: 110px;
}
.comparative .comparativeMap .sigungu-area[data-inmap='chungnam'] li.taean {
    left: 54px;
    top: 106px;
}
.comparative .comparativeMap .sigungu-area[data-inmap='chungnam'] li.geumsan {
    left: 408px;
    top: 340px;
}
.comparative .comparativeMap .sigungu-area[data-inmap='chungnam'] li.nonsan {
    left: 312px;
    top: 314px;
}
.comparative .comparativeMap .sigungu-area[data-inmap='chungnam'] li.gyeryong {
    left: 326px;
    top: 284px;
}
.comparative .comparativeMap .sigungu-area[data-inmap='chungnam'] li.buyeo {
    left: 232px;
    top: 302px;
}
.comparative .comparativeMap .sigungu-area[data-inmap='chungnam'] li.seocheon {
    left: 186px;
    top: 350px;
}
.comparative .comparativeMap .sigungu-area[data-inmap='chungnam'] li.hongsung {
    left: 160px;
    top: 184px;
}
.comparative .comparativeMap .sigungu-area[data-inmap='chungnam'] li.chungyang {
    left: 220px;
    top: 230px;
}
.comparative .comparativeMap .sigungu-area[data-inmap='chungnam'] li.yesan {
    left: 220px;
    top: 138px;
}
.comparative .comparativeMap .sigungu-area[data-inmap='chungnam'] li.dangjin {
    left: 170px;
    top: 58px;
}
.comparative .comparativeMap .sigungu-area[data-inmap='chungnam'] li.cheonan {
    left: 336px;
    top: 92px;
}
/* 전라북도 */
.comparative .comparativeMap .sigungu-area[data-inmap='jeonbuk'] li.gunsan {
    left: 94px;
    top: 112px;
}
.comparative .comparativeMap .sigungu-area[data-inmap='jeonbuk'] li.iksan {
    left: 188px;
    top: 82px;
}
.comparative .comparativeMap .sigungu-area[data-inmap='jeonbuk'] li.jungep {
    left: 160px;
    top: 246px;
}
.comparative .comparativeMap .sigungu-area[data-inmap='jeonbuk'] li.namwon {
    left: 316px;
    top: 310px;
}
.comparative .comparativeMap .sigungu-area[data-inmap='jeonbuk'] li.gimje {
    left: 150px;
    top: 160px;
}
.comparative .comparativeMap .sigungu-area[data-inmap='jeonbuk'] li.wanju {
    left: 254px;
    top: 100px;
}
.comparative .comparativeMap .sigungu-area[data-inmap='jeonbuk'] li.jinan {
    left: 320px;
    top: 154px;
}
.comparative .comparativeMap .sigungu-area[data-inmap='jeonbuk'] li.muju {
    left: 406px;
    top: 114px;
}
.comparative .comparativeMap .sigungu-area[data-inmap='jeonbuk'] li.jangsu {
    left: 366px;
    top: 218px;
}
.comparative .comparativeMap .sigungu-area[data-inmap='jeonbuk'] li.imsil {
    left: 260px;
    top: 246px;
}
.comparative .comparativeMap .sigungu-area[data-inmap='jeonbuk'] li.sunchang {
    left: 226px;
    top: 320px;
}
.comparative .comparativeMap .sigungu-area[data-inmap='jeonbuk'] li.gochang {
    left: 60px;
    top: 306px;
}
.comparative .comparativeMap .sigungu-area[data-inmap='jeonbuk'] li.buan {
    left: 78px;
    top: 218px;
}
.comparative .comparativeMap .sigungu-area[data-inmap='jeonbuk'] li.jeonju {
    left: 220px;
    top: 156px;
}
/* 전라남도 */
.comparative .comparativeMap .sigungu-area[data-inmap='jeonnam'] li.mokpo {
    left: 160px;
    top: 224px;
}
.comparative .comparativeMap .sigungu-area[data-inmap='jeonnam'] li.yeosu {
    left: 444px;
    top: 222px;
}
.comparative .comparativeMap .sigungu-area[data-inmap='jeonnam'] li.suncheon {
    left: 370px;
    top: 164px;
}
.comparative .comparativeMap .sigungu-area[data-inmap='jeonnam'] li.naju {
    left: 220px;
    top: 160px;
}
.comparative .comparativeMap .sigungu-area[data-inmap='jeonnam'] li.gwangyang {
    left: 444px;
    top: 152px;
}
.comparative .comparativeMap .sigungu-area[data-inmap='jeonnam'] li.damyang {
    left: 284px;
    top: 74px;
}
.comparative .comparativeMap .sigungu-area[data-inmap='jeonnam'] li.jangseong {
    left: 228px;
    top: 76px;
}
.comparative .comparativeMap .sigungu-area[data-inmap='jeonnam'] li.gokseong {
    left: 350px;
    top: 94px;
}
.comparative .comparativeMap .sigungu-area[data-inmap='jeonnam'] li.gurye {
    left: 404px;
    top: 96px;
}
.comparative .comparativeMap .sigungu-area[data-inmap='jeonnam'] li.goheung {
    left: 370px;
    top: 268px;
}
.comparative .comparativeMap .sigungu-area[data-inmap='jeonnam'] li.boseong {
    left: 328px;
    top: 210px;
}
.comparative .comparativeMap .sigungu-area[data-inmap='jeonnam'] li.hwasun {
    left: 290px;
    top: 162px
}
.comparative .comparativeMap .sigungu-area[data-inmap='jeonnam'] li.jangheung {
    left: 268px;
    top: 228px;
}
.comparative .comparativeMap .sigungu-area[data-inmap='jeonnam'] li.gangjin {
    left: 236px;
    top: 262px;
}
.comparative .comparativeMap .sigungu-area[data-inmap='jeonnam'] li.wando {
    left: 218px;
    top: 354px;
}
.comparative .comparativeMap .sigungu-area[data-inmap='jeonnam'] li.haenam {
    left: 182px;
    top: 294px;
}
.comparative .comparativeMap .sigungu-area[data-inmap='jeonnam'] li.jindo {
    left: 110px;
    top: 318px;
}
.comparative .comparativeMap .sigungu-area[data-inmap='jeonnam'] li.yeongam {
    left: 204px;
    top: 218px;
}
.comparative .comparativeMap .sigungu-area[data-inmap='jeonnam'] li.muan {
    left: 154px;
    top: 172px;
}
.comparative .comparativeMap .sigungu-area[data-inmap='jeonnam'] li.yeonggwang {
    left: 160px;
    top: 80px;
}
.comparative .comparativeMap .sigungu-area[data-inmap='jeonnam'] li.hampyeong {
    left: 176px;
    top: 126px;
}
.comparative .comparativeMap .sigungu-area[data-inmap='jeonnam'] li.sinan {
    left: 82px;
    top: 235px;
}
/* 경상북도 */
.comparative .comparativeMap .sigungu-area[data-inmap='gyeongbuk'] li.ullung {
    left: 414px;
    top: 30px;
}
.comparative .comparativeMap .sigungu-area[data-inmap='gyeongbuk'] li.gyeongju {
    left: 300px;
    top: 324px;
}
.comparative .comparativeMap .sigungu-area[data-inmap='gyeongbuk'] li.gimcheon {
    left: 76px;
    top: 262px;
}
.comparative .comparativeMap .sigungu-area[data-inmap='gyeongbuk'] li.andong {
    left: 206px;
    top: 142px;
}
.comparative .comparativeMap .sigungu-area[data-inmap='gyeongbuk'] li.gumi {
    left: 120px;
    top: 228px;
}
.comparative .comparativeMap .sigungu-area[data-inmap='gyeongbuk'] li.yeongju {
    left: 160px;
    top: 74px;
}
.comparative .comparativeMap .sigungu-area[data-inmap='gyeongbuk'] li.yeongcheon {
    left: 246px;
    top: 280px;
}
.comparative .comparativeMap .sigungu-area[data-inmap='gyeongbuk'] li.sangju {
    left: 68px;
    top: 186px;
}
.comparative .comparativeMap .sigungu-area[data-inmap='gyeongbuk'] li.mungyeong {
    left: 90px;
    top: 116px;
}
.comparative .comparativeMap .sigungu-area[data-inmap='gyeongbuk'] li.yecheon {
    left: 144px;
    top: 124px;
}
.comparative .comparativeMap .sigungu-area[data-inmap='gyeongbuk'] li.gyeongsan {
    left: 226px;
    top: 340px;
}
.comparative .comparativeMap .sigungu-area[data-inmap='gyeongbuk'] li.cheongdo {
    left: 202px;
    top: 376px;
}
.comparative .comparativeMap .sigungu-area[data-inmap='gyeongbuk'] li.goryeong {
    left: 116px;
    top: 356px;
}
.comparative .comparativeMap .sigungu-area[data-inmap='gyeongbuk'] li.seongju {
    left: 104px;
    top: 312px;
}
.comparative .comparativeMap .sigungu-area[data-inmap='gyeongbuk'] li.chilgok {
    left: 148px;
    top: 288px;
}
.comparative .comparativeMap .sigungu-area[data-inmap='gyeongbuk'] li.wisung {
    left: 168px;
    top: 200px;
}
.comparative .comparativeMap .sigungu-area[data-inmap='gyeongbuk'] li.cheongsong {
    left: 274px;
    top: 198px;
}
.comparative .comparativeMap .sigungu-area[data-inmap='gyeongbuk'] li.yeongyang {
    left: 282px;
    top: 112px;
}
.comparative .comparativeMap .sigungu-area[data-inmap='gyeongbuk'] li.yeongdeok {
    left: 324px;
    top: 170px;
}
.comparative .comparativeMap .sigungu-area[data-inmap='gyeongbuk'] li.bonghwa {
    left: 228px;
    top: 62px;
}
.comparative .comparativeMap .sigungu-area[data-inmap='gyeongbuk'] li.uljin {
    left: 312px;
    top: 54px;
}
.comparative .comparativeMap .sigungu-area[data-inmap='gyeongbuk'] li.pohang {
    left: 306px;
    top: 248px;
}
/* 경상남도 */
.comparative .comparativeMap .sigungu-area[data-inmap='gyeongnam'] li.jinju {
    left: 150px;
    top: 226px;
}
.comparative .comparativeMap .sigungu-area[data-inmap='gyeongnam'] li.tongyeong {
    left: 236px;
    top: 332px;
}
.comparative .comparativeMap .sigungu-area[data-inmap='gyeongnam'] li.goseong {
    left: 202px;
    top: 288px;
}
.comparative .comparativeMap .sigungu-area[data-inmap='gyeongnam'] li.sacheon {
    left: 132px;
    top: 272px;
}
.comparative .comparativeMap .sigungu-area[data-inmap='gyeongnam'] li.gimhae {
    left: 374px;
    top: 202px;
}
.comparative .comparativeMap .sigungu-area[data-inmap='gyeongnam'] li.milyang {
    left: 346px;
    top: 140px;
}
.comparative .comparativeMap .sigungu-area[data-inmap='gyeongnam'] li.geoje {
    left: 308px;
    top: 336px;
}
.comparative .comparativeMap .sigungu-area[data-inmap='gyeongnam'] li.wiryeong {
    left: 204px;
    top: 164px;
}
.comparative .comparativeMap .sigungu-area[data-inmap='gyeongnam'] li.haman {
    left: 240px;
    top: 206px;
}
.comparative .comparativeMap .sigungu-area[data-inmap='gyeongnam'] li.changyeong {
    left: 260px;
    top: 126px;
}
.comparative .comparativeMap .sigungu-area[data-inmap='gyeongnam'] li.yangsan {
    left: 420px;
    top: 164px;
}
.comparative .comparativeMap .sigungu-area[data-inmap='gyeongnam'] li.hadong {
    left: 50px;
    top: 240px;
}
.comparative .comparativeMap .sigungu-area[data-inmap='gyeongnam'] li.namehae {
    left: 102px;
    top: 360px;
}
.comparative .comparativeMap .sigungu-area[data-inmap='gyeongnam'] li.hamyang {
    left: 38px;
    top: 104px;
}
.comparative .comparativeMap .sigungu-area[data-inmap='gyeongnam'] li.sancheong {
    left: 84px;
    top: 172px;
}
.comparative .comparativeMap .sigungu-area[data-inmap='gyeongnam'] li.geochang {
    left: 94px;
    top: 56px;
}
.comparative .comparativeMap .sigungu-area[data-inmap='gyeongnam'] li.hapcheon {
    left: 150px;
    top: 122px;
}
.comparative .comparativeMap .sigungu-area[data-inmap='gyeongnam'] li.chaongwon {
    left: 306px;
    top: 218px;
}
/* 제주 */
.comparative .comparativeMap .sigungu-area[data-inmap='jeju'] li.jeju {
    left: 240px;
    top: 170px;
}
.comparative .comparativeMap .sigungu-area[data-inmap='jeju'] li.seoguipo {
    left: 240px;
    top: 236px;
}
/* keyword 리스트*/
.map-title {
    background: url('/images/icon_topic.png') no-repeat left center;
    display: inline-block;
    font-size : 30px;
    font-weight: 600;
    padding-left: 40px;
    margin-bottom: 20px;
}
.map-keyword {
    display:none;
    margin-top: 60px;
}
.map-keyword.on{
    display: block;
}
.map-keyword h3 {    
    display: inline-block;
    font-size: 30px;
}
.map-keyword .btn-map{
    position: absolute;
    right: 24px;
    top: 310px;
    width: 70px;
    height: 100px;
    background: url("/images/ref_map/btn_map_detail.png") no-repeat center top;
    padding-top: 60px;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
}
.map-keyword .btn-map span{
    display: block;    
    font-size: 18px;
    font-weight: 500;
}
.map-keyword .keword-list {
    margin: 0;
    padding: 0;
}
.map-keyword .keword-list:after {
    clear: both;
    display: block;
    content: '';
}
.map-keyword .keyword-box {
    float: left;
    margin-left: 10px;
}
.map-keyword .keyword-box:first-child {
    margin-left: 0;
}
.map-keyword .keword-list.col3ea .keyword-box{
    width:calc(33.3% - 10px); 
}
.map-keyword .keword-list.col5ea .keyword-box{
    width:calc(20% - 10px); 
}

@media screen and (max-width:1023px){
    .comparativeMap {display: none;}
    .comparativeMobile {display: block;}

    .comparativeMap {
        display: none;
    }
    .comparativeMobile {
        display: block;
        margin-top: 20px;
        padding-top: 20px;
        border-top: 1px dashed #e0e0e0;
    }
    .comparativeMobile .comparativeMobile-wrap {
        margin: 0 auto;
    }
    .comparativeMobile .city-codes {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        border-top: 1px solid #e0e0e0;
        border-left: 1px solid #e0e0e0;
    }
    .comparativeMobile .city-codes li {
        border-right: 1px solid #e0e0e0;
        border-bottom: 1px solid #e0e0e0;
        text-align: center;
    }
    .comparativeMobile .city-codes li button {
        width: 100%;
        padding: 20px 0;
        font-size: 13px;
    }
    .comparativeMobile .city-codes li button:hover,
    .comparativeMobile .city-codes li button:focus {
        color: #059fa9;
    }

    /* 도시 선택 후 나오는 select 박스 */
    .comparativeMobile .mo-sigungu {
        display: block;
        margin-top: 60px;
    }
    .comparativeMobile .mo-sigungu h3 {
        padding-bottom: 30px;
        font-size: 30px;
        text-align: center;
    }
    .comparativeMobile .mo-sigungu .mo-select {
        padding: 15px;
        background: #f8f8f8;
    }
    .comparativeMobile .mo-sigungu .mo-select label {
        position: absolute;
        left: -1px;
        width: 0;
        height: 0;
        overflow: hidden;
    }
    .comparativeMobile .mo-sigungu .mo-select select {
        border: none;
        border-radius: 100px;
        background: url(/images/icon_arrow_down_7x4.png) no-repeat right 15px center #fff;
    }
    .comparativeMobile .mo-sigungu .mo-select button {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 6px;
        width: 100%;
        margin: 15px auto 0;
        padding: 11px 0;
        border-radius: 100px;
        background: #059fa9;
        font-size: 16px;
        color: #fff;
        text-align: center;
    }
    .comparativeMobile .mo-sigungu .mo-select button::before {
        content: '';
        display: block;
        width: 14px;
        height: 14px;
        background: url(/images/icon_search_14x13.png) no-repeat center center/cover;
    }
}