/* 240119 구본용 */
/* 지역선택 시군구 공통 */
.comparative .comparativeMap {
    position: relative;
    margin-top: 40px;
    padding-top: 0;
}
.comparative .comparativeMap .map-area {
    display: none;
}
.comparative .comparativeMap .map-area.on {
    display: block;
}
.comparative .comparativeMap .map-area svg polygon {
    cursor: pointer;
}
.comparative .comparativeMap .map-area .map-city .btn_map_back {
    text-indent: -9999px;
}
.comparative .comparativeMap .map-area .map-city p .title {
    display: block;
    font-size: 30px;
    margin-top: 10px;
}
.comparative .comparativeMap .map-area .map-city .sigungu li a:hover,
.comparative .comparativeMap .map-area .map-city .sigungu li a:focus {
    color: #ff0000;
}

/* 서울 지도 */
.comparative .comparativeMap .map-area[data-inmap='서울'] {
    background: url(/images/ref_map/map_seoul.png) no-repeat center center, #f8f8f8;
}
.comparative .comparativeMap .map-area .map-city .sigungu .jongno {
    left: 587px;
    top: 270px;
}

/* CP-20240110 : PDF 뷰어 영역 */
/* 공약이슈기초조사_01페이지 기반 */
.map-pdf {
    display: none;
    position: relative;
    margin-top: 60px;
}
.map-pdf.on {
    display: block;
}
.map-pdf h3 {
    display: flex;
    gap: 10px;
    font-size: 30px;
}
.map-pdf h3::before {
    content: '';
    display: block;
    width: 30px;
    height: 30px;
    background: url() no-repeat center center/cover;
}
.map-pdf .pdf-viewer {
    margin-top: 20px;
}
.map-pdf .pdf-viewer .iframe-pdf-viewer {
    width: 100%;
    height: 800px;
    border: 1px solid #eee;
    box-sizing: border-box;
}
.map-pdf .btn-go-sigungu {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px 15px;
    border-radius: 10px;
    background: antiquewhite;
    overflow: hidden;
}
.map-pdf .btn-go-sigungu:focus {
    outline: 2px solid black;
}
/* 공약이슈기초조사_02팝업시 기반 */
.map-pdf02 {
    margin-top: 60px;
    border: 1px solid #bebebe;
    box-sizing: border-box;
}
.map-pdf02 h3 {
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    padding: 30px 0;
}
.map-pdf02 .inner-contents {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    background: #eee;
}
.map-pdf02 .inner-contents > span {
    margin-right: auto;
    font-weight: 700;
}
.map-pdf02 .inner-contents a {
    width: 28px;
    height: 28px;
    border-radius: 6px;
}
.map-pdf02 .inner-contents a + a {
    margin-left: 4px;
}
.map-pdf02 .inner-contents a.pdf-popup {
    background: url(/images/icon_popup_18x18.png) no-repeat center center #059fa9;
}
.map-pdf02 .inner-contents a.pdf-download {
    background: url(/images/icon_download_18x18.png) no-repeat center center #059fa9;
}
/* 과장님 파일에서 숨겨져 있음 */
.map-city {
    display: block !important;
}

.map-pdf .mo-select {
    display: none;
}

/* 모바일 : 가로사이즈 임시 부여 */
@media all and (max-width: 720px) {
    .map-pdf .mo-select {
        display: block;
        padding: 15px;
        background: #f8f8f8;
    }
    .map-pdf .mo-select button {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 6px;
        width: 100%;
        margin: 15px auto 0;
        padding: 11px 0;
        border-radius: 100px;
        background: #059fa9;
        font-size: 16px;
        color: #fff;
        text-align: center;
    }
    .map-pdf .mo-select button::before {
        content: '';
        display: block;
        width: 14px;
        height: 14px;
        background: url(/images/icon_search_14x13.png) no-repeat center center/cover;
    }
}
